<info-background title="Progress Monitor">
  <form [formGroup]="progressForm" (ngSubmit)="submitForm()" class="form-container">
    <div class="form-group">
      <label for="updatesEvery">Updates Every:</label>
      <div class="input-seconds">
        <input
          id="updatesEvery"
          formControlName="updatesEvery"
          placeholder="Time in seconds"
          type="number"
          step="0.1"
          class="form-control"
        />
        <span class="seconds-symbol">sec</span>
      </div>
    </div>
    <button class="submit-button" type="submit" [disabled]="progressForm.invalid">save</button>
  </form>

  <hstack>
      <captioned-value-component style="width: 50%; padding: 30px" caption="Messages Sent" [value]="progressData?.msgs_sent?.toString() || '–'" ></captioned-value-component>
      <divider style="height: 100px;" />
      <captioned-value-component style="width: 50%; padding: 30px" caption="Messages Failed" [value]="progressData?.msgs_failed?.toString() || '-'" ></captioned-value-component>
      <divider style="height: 100px;" />
      <captioned-value-component style="width: 50%; padding: 30px" caption="Failure Percent" [value]="getfailurePercent().toFixed(2)" [unit]="percentUnit" ></captioned-value-component>
      <divider style="height: 100px;" />
      <captioned-value-component style="width: 50%; padding: 30px" caption="Avg. Wait Time" [value]="progressData?.avg_wait_time?.toString() || '–'" ></captioned-value-component>
  </hstack>

</info-background>