<div class="image-container" style="margin-right: 40px; margin-left: 40px">
    <typography variant="xx-large-title" content="SMS Control Center" additionalStyles="text-align: center;"></typography>
    <hstack style="width: 100%; " spacing="50px">
        <vstack style="width: 50%; height: 100%;">
            <app-progress-monitor style="width: 100%;" />
            <app-alert-history style="width: 100%; height: 300px"/>
        </vstack>
       
        <vstack style="width: 50%; height: 100%;">
            <system-config style="width: 100%; " />
            <alert-manager style="width: 100%; "/>
        </vstack>
    </hstack>
</div>